* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 48px;
  margin: 0;
}

.container-header {
  display: flex;
  flex-direction: column;
  gap: 128px;
  padding: 24px;
  padding-bottom: 72px;
  max-width: 75vw;
  margin: 0 auto;
}

header {
  color: #eee;
  background-color: rgb(60, 90, 70);
}

.logo {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
}

.link {
  font-size: 24px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  display: flex;
  flex: 1 0 auto;
  gap: 48px;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  max-width: 40%;
}

.header-text p {
  font-size: 18px;
  height: 100%;
}

.header-img {
  width: 60%;
  height: auto;
  background-image: url(images/header.png);
  background-position: center;
  background-size: cover;
  box-shadow: 0px 10px 20px -6px rgb(0, 0, 0);
}

ul {
  list-style: none;
  display: flex;
  gap: 32px;
  margin: 0;
  padding: 0;
}

button.signup {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  background-color: #eee;
  color: rgb(60, 90, 70);
  padding: 6px 32px;
  border-radius: 10px;
  border: 2px solid #eee;
  transition: 0.5s;
}

button.signup:hover {
  background-color: rgb(60, 90, 70);
  color: #eee;
}
